<!-- Begin Story List View -->
<h1>List</h1>
<div id="store-list-view" ng-controller="StoriesController">
    <ul class="thumbnails">

        <!-- Begin Story Item View -->
        <li class="span4 story-list" ng-repeat="story in content">
            <div class="thumbnail">
                <a href="#" ng-click="itemClick()">
                    <img ng-src="{{story.lead_photo_image_thumb}}" title="{{story.lead_photo_caption}}" alt="{{story.lead_photo_caption}}" class="list-img" />
                </a>
                <div class="caption">
                    <a href="#" ng-click="itemClick()">
                        <h4>{{story.title}}</h4>
                    </a>
                    <h5>{{story.category|categoryFilter}}</h5>
                    <p class="story-date">
                        <span>Published: {{story.pub_date}}</span><br/>
                        <span>Updated: {{story.updated}}</span>
                    </p>
                    <p>
                        <a href="#" ng-click="itemClick()" class="btn">Read More</a>
                    </p>
                </div>
            </div>
        </li>

        <!-- End Story Item View -->

    </ul>
</div>
<!-- End Story List View -->